<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="/public/lib/bootstrap/css/dashboard.css">
  {{ block 'header' }}
  {{ /block }}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">商品管理系统</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">返回前台 →</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          {{ block 'nav' }}
          {{ /block }}
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {{ block 'main' }}
        {{ /block }}
      </div>
    </div>
  </div>
  <script src="/public/lib/jquery/jquery-1.9.1.min.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/public/lib/bootstrap/js/ie-emulation-modes-warning.js"></script>
  {{ block 'footer' }}
  {{ /block }}
</body>

</html>